<div id="bags-container" class="fixed-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="product-cart">
          <div class="weight">
            <span v-if="data.details.weight">Gram:${data.details.weight} g.</span>
            <span v-if="data.details.total">Price: DKK ${data.details.total}.00.</span>
          </div>
          <div v-if="data.details.total" class="btn-group">
            <a href="#" class="outline-btn" data-bs-toggle="modal" data-bs-target="#AddProDuct"> WATCH YOUR BAG </a>

            <a
              v-if="data.details.total >= 25"
              href="#"
              class="solid-btn"
              data-bs-toggle="modal"
              data-bs-target="#CloseBag"
            >
              Close the Bag
            </a>
            <a v-else class="solid-btn" disabled> BUY FOR ${25 - data.details.total}K MORE </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal"
    id="AddProDuct"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="addproduct"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel">Your Bag</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body custom">
          <div v-for="product in data.bags" class="item-container">
            <div class="added-product">
              <div class="img-wrap">
                <img loading="lazy" height="auto" width="auto" :src="product.image" alt="alt">
              </div>
              <div class="item-name">
                <h6>${product.title}</h6>
                <h5>Approx ${product.amount} pieces</h5>
              </div>
            </div>
            <div class="buttons">
                <!-- Cart Information modal -->
           <div class="cart-info" @click="product.mtoggle()" style="cursor: pointer">
              <svg
                class="Icon Icon--info"
                width="15"
                height="15"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="7.5" cy="7.5" r="6.5" fill="#FFEEB0" stroke="#FBD754" stroke-width="2">
                </circle>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4H7V5H8V4ZM8 6H7V11H8V6Z" fill="black"></path>
              </svg>
            </div>
              <div class="qty-btn">
                <svg @click="product.decreaseQuantity()" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm88 200H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z">
                  </path>
                </svg>
                <ul>
                  <li>
                    <!-- <a href="#">Approx. 4 pieces</a> -->
                  </li>
                  <li>
                    <a href="#">For ${product.weight} grams</a>
                  </li>
                </ul>
                <svg @click="product.increaseQuantity()" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z">
                  </path>
                </svg>
              </div>
              <svg @click="product.removeProduct()"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                style="cursor: pointer;"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-x"
              >
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fading"
    id="CloseBag"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    aria-labelledby="CloseBag"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center pading">
          <h3>moment :)</h3>
          <p>You just have to name your bag so you can easily find it again</p>
          <input class="mb-4" type="text" placeholder="Enter the name of the bag" v-model="bagName">
          <div class="modal-btn-group">
            <a href="#" @click="putInBasket()" class="put-basket-btn">PUT IN BASKET</a>
            <a href="#" data-bs-dismiss="modal" class="put-bag-btn">...or put more in the bag</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <--------- SIDE PANEL ------ -->

  <div
    class="modal side-panel"
    id="Slide-Left"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">Your Shoping Basket</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div v-if="mainCart.total < 129" class="small-announcementbar">
            <p class="mb-0"> ${data.mainCart}Buy forDKK 129.00. more to reach the minimum amount.</p>
          </div>
          <h3>Your candy bags</h3>
          <div v-if="mainCart.bags.length > 0" class="candy-content" v-for="bag in mainCart.bags">
            <div class="candy-container">
              <img :src="bag.bags[0].image" alt="image" width="52">
              <div class="title">
                <h6>${bag.bagName}</h6>
                <div class="edit">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#Slide-Left-Second">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="19"
                      height="19"
                      viewBox="0 0 19 19"
                      fill="none"
                    >
                      <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.781048 2.28105C1.28115 1.78095 1.95942 1.5 2.66667 1.5H8.5C9.05229 1.5 9 1.94772 9 2.5C9 3.05228 9.05229 3.5 8.5 3.5H2.66667C2.48986 3.5 2.32029 3.57024 2.19526 3.69526C2.07024 3.82029 2 3.98986 2 4.16667V15.8333C2 16.0101 2.07024 16.1797 2.19526 16.3047C2.32029 16.4298 2.48986 16.5 2.66667 16.5H14.3333C14.5101 16.5 14.6797 16.4298 14.8047 16.3047C14.9298 16.1797 15 16.0101 15 15.8333V10C15 9.44772 15.4477 9.5 16 9.5C16.5523 9.5 17 9.44772 17 10V15.8333C17 16.5406 16.719 17.2189 16.219 17.719C15.7189 18.219 15.0406 18.5 14.3333 18.5H2.66667C1.95942 18.5 1.28114 18.219 0.781048 17.719C0.280952 17.2189 0 16.5406 0 15.8333V4.16667C0 3.45942 0.280951 2.78115 0.781048 2.28105Z"
                          fill="white" />
                      <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M16 2C15.7964 2 15.6011 2.08089 15.4571 2.22487L7.73632 9.94568L7.37439 11.3934L8.82211 11.0315L16.5429 3.31066C16.6869 3.16668 16.7678 2.97139 16.7678 2.76777C16.7678 2.56414 16.6869 2.36886 16.5429 2.22487C16.3989 2.08089 16.2036 2 16 2ZM14.0429 0.81066C14.562 0.291603 15.266 0 16 0C16.7341 0 17.4381 0.291603 17.9571 0.81066C18.4762 1.32972 18.7678 2.03371 18.7678 2.76777C18.7678 3.50182 18.4762 4.20582 17.9571 4.72487L10.0405 12.6415C9.9123 12.7697 9.75172 12.8606 9.57589 12.9046L6.24256 13.7379C5.90178 13.8231 5.54129 13.7233 5.29291 13.4749C5.04453 13.2265 4.94468 12.866 5.02988 12.5252L5.86321 9.1919C5.90717 9.01607 5.99809 8.85549 6.12625 8.72733L14.0429 0.81066Z"
                          fill="white" />
                    </svg>
                    View & Edit
                  </a>
                  <svg
                    @click="removeBag(bag.bagName)"
                    class="delete"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="18"
                    viewBox="0 0 16 18"
                    fill="none"
                    style="cursor: pointer"
                  >
                    <path
                        d="M0.5 4.69231H15.5M6.33714 7.15385V14.5385M9.76571 7.15385V14.5385M2.85714 4.69231H13.1429V16C13.1429 16.5523 12.6951 17 12.1429 17H3.85714C3.30486 17 2.85714 16.5523 2.85714 16V4.69231ZM10.7017 4.69231V2C10.7017 1.44772 10.254 1 9.70171 1H5.98743C5.43514 1 4.98743 1.44772 4.98743 2V4.69231H10.7017Z"
                        stroke="#9954C2" stroke-width="1.5" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="price">
              <b>DKK ${bag.total}</b>
            </div>
          </div>
          <p v-else class="sub-title">Your basket is empty.</p>
        </div>
        <div class="modal-footer">
          <div class="mix-bag">
            <a href="#" class="another-bag-btn" data-bs-dismiss="modal"> Mix Another Bags </a>
            <p class="text-center">or fill more in one of the bags above</p>
            <div class="order">
              <h4>Your Order</h4>
              <div class="d-flex align-items-center justify-content-between">
                <span>Subtotal</span>
                <span>DKK ${mainCart.total}</span>
              </div>
              {%- comment -%} <div class="d-flex align-items-center justify-content-between">
                <span>Shipping (from price)</span>
                <span>DKK 0.00DKK</span>
              </div> {%- endcomment -%}
              <div class="d-flex align-items-center justify-content-between">
                <b>Total</b>
                <b>DKK ${mainCart.total}</b>
              </div>
              <p v-if="mainCart.total < 129"  >The minimum order is DKK 129.00. Mix a little more :-)</p>
              <a @click="checkOut()" href="#"  class="btn-checkout">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal edit-item" id="Slide-Left-Second">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Back to basket</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-toggle="modal"
            data-bs-target="#Slide-Left"
            aria-label="Back to basket"
          ></button>
        </div>
        <div class="modal-body">
          <div class="edit-content">
            <div class="title">
              <h6>Joe's Bag</h6>
              <p>There are for DKK 50.00. in the bag</p>
              <a href="#" class="btn-add-candy">Add more candy</a>
            </div>
            <div class="edit-contener">
              <div class="img-name">
                <svg
                  class="delete"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="18"
                  viewBox="0 0 16 18"
                  fill="none"
                >
                  <path
                      d="M0.5 4.69231H15.5M6.33714 7.15385V14.5385M9.76571 7.15385V14.5385M2.85714 4.69231H13.1429V16C13.1429 16.5523 12.6951 17 12.1429 17H3.85714C3.30486 17 2.85714 16.5523 2.85714 16V4.69231ZM10.7017 4.69231V2C10.7017 1.44772 10.254 1 9.70171 1H5.98743C5.43514 1 4.98743 1.44772 4.98743 2V4.69231H10.7017Z"
                      stroke="#9954C2" stroke-width="1.5" />
                </svg>
                <img src="images/cart-candy.avif" alt="image" width="52">
                <div class="name">
                  <h6>Center Original</h6>
                  <span style="color: #f280b2;">28pcs</span>
                  <span style="color: #bf3fb4;">68g</span>
                </div>
              </div>
              <div class="btn_group">
                <a href="#">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="#c395c2"
                        d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm88 200H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z">
                    </path>
                  </svg>
                </a>
                <a href="#">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="#e891be"
                        d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Cart Information Modal -->
   <div class="modal fade" id="InfoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content information">
            <div class="modal-header">
                <div class="title-img">
                    <img :src="data.modalData.currentProductImg" alt="image" width="48">
                </div>
                <h3 class="modal-title">${data.modalData.currentProductTitle}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" v-html="data.modalData.currentProductInfo">
               
            </div>

        </div>
    </div>
</div>
</div>

<style>
  /* <--------- sidepanel --------> */

  .side-panel .modal-dialog {
    position: fixed;
    margin: auto;
    width: 440px;
    height: 100%;
    right: -440px;
    left: auto;
  }

  .modal.side-panel.show .modal-dialog {
    right: -1px;
    transition: right 0.8s ease;
  }

  .side-panel .modal-header {
    padding: 2.5rem 1.5rem 1rem 1.5rem;
  }

  .side-panel .modal-title {
    font-size: 20px;
    font-weight: 600;
  }

  .side-panel .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .side-panel .modal-body {
    padding: 0;
    overflow-y: auto;
  }

  .side-panel .modal-body::-webkit-scrollbar {
    width: 0;
  }

  .modal-body .small-announcementbar {
    background-color: #f6f6b6;
    padding: 0.8rem 1.5rem;
    margin-top: 0.4rem;
  }

  .small-announcementbar p {
    font-size: 14px;
    font-weight: 600;
  }

  .side-panel .modal-body h3 {
    font-size: 24px;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 0;
  }

  .modal-body .sub-title {
    font-size: 14px;
    padding-left: 1.6rem;
    color: #d532d5;
  }

  .modal-body .candy-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
  }

  .candy-content .candy-container {
    display: flex;
    align-items: center;
  }

  .candy-container .title {
    margin-left: 1rem;
    margin: 0rem 0 0.5rem !important;
  }

  .candy-container .title h6 {
    font-size: 17px;
    font-weight: 700;
  }

  .candy-container .edit a {
    padding: 0.5rem 0.3rem;
    background-color: #c395c0;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
  }

  .candy-container .edit .delete {
    margin-left: 0.5rem;
  }

  .side-panel .modal-footer {
    padding: 0;
  }

  .side-panel .modal-footer > * {
    margin: 0;
  }

  .modal-footer .mix-bag {
    background-color: #f9e8ef;
    padding-top: 0.8rem;
    display: block;
    width: 100%;
  }

  .mix-bag .another-bag-btn {
    background-color: #c395c0;
    font-size: 20px;
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .35s ease-in-out;
  }

  .mix-bag .another-bag-btn:hover {
    background-color: var(--sr-light-pink-color);
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 1rem 0.1rem #ef92c752;
  }

  .mix-bag p {
    font-size: 15px;
  }

  .mix-bag .order {
    padding: 0.8rem 1.5rem;
  }

  .order h4 {
    font-size: 18px;
    font-weight: 700;
  }

  .order p {
    text-align: center;
  }

  .order .btn-checkout {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #ef91be;
    padding: 0.8rem 0;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    transition: all .35s ease-in-out;
  }

  .order .btn-checkout:hover {
    background-color: var(--sr-purple-color);
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 1rem 0.1rem #c394c247;
  }

  /* <----- second slide starts-----> */

  .edit-item .modal-dialog {
    position: fixed;
    margin: auto;
    width: 440px;
    height: 100%;
    right: -440px;
    left: auto;
  }

  .modal.edit-item.show .modal-dialog {
    right: -1px;
    transition: right 0.8s ease;
  }

  .edit-item .modal-content {
    height: 100vh;
  }

  .edit-content h6 {
    font-size: 24px;
    font-weight: 700;
  }

  .edit-content p {
    font-size: 16px;
    font-weight: 400;
  }

  .edit-content .btn-add-candy {
    text-decoration: none;
    background-color: #c394c6;
    color: #000;
    font-weight: 500;
    padding: 0.5rem 2rem;
    border-radius: 5px;
  }

  .edit-content .edit-contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
  }

  .edit-contener .img-name {
    display: flex;
    align-items: center;
  }

  .img-name .delete {
    margin-right: 0.4rem;
  }

  .img-name .name {
    margin-left: 0.4rem;
  }

  .img-name h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }

  .img-name .name span {
    font-size: 13px;
  }

  .edit-item h5 {
    font-size: 20px;
    font-weight: 600;
  }

  .edit-contener .btn_group {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 1rem;
  }

  .btn_group a {
    text-decoration: none;
  }

  .btn_group svg {
    height: 30px;
    width: 30px;
  }

  /* <----- second slide ends-----> */
  /* <-------- Info Modal Starts--------> */
.information {
  position: relative;
}

.information::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.25rem;
  width: 100%;
  border-bottom-right-radius: .375rem;
  border-bottom-left-radius: .375rem;
  background: linear-gradient(hsla(0,0%,100%,0),#fdebea96);
}

.information .modal-header {
  background-color: #fdebead9;
  padding: 1rem 1.4rem;
  opacity: 0.90;
}

.information h3 {
  font-size: 1.375rem;
  color: var(--sr-black-color);
  font-weight: 700;
  opacity: 0.95;
  margin-left: 0.5rem;
}

.information .btn-close {
  color: var(--sr-black-color);
  opacity: 1;
  transition: all .35s ease-in-out;
}

.information .btn-close:hover {
  opacity: 0.7;
}

.information .modal-body {
  padding: 1rem 1.4rem;
}


.information  .modal-body::-webkit-scrollbar {
  display: none;
}

.information .title-img {
  outline: 1px solid #080808ba;
  border-radius: 10px;
  outline-offset: 0.5px;
}

.information .title-img img {
  border-radius: 15px;
}

.information .modal-body h4 {
  margin-top: 1rem;
  font-size: 1.275rem;
  font-weight: 400;
}

.information .modal-body p {
  font-size: 1.175rem;
}

.modal-body .click-here {
  margin: 2rem 0;
  font-size: 1.275rem;
}

.click-here a {
  color: var(--sr-light-pink-color);
  text-decoration: none;
  transition: all .35s ease-in-out;
}

.click-here a:hover {
  text-decoration: underline;
  color: var(--sr-black-color);
}


.nutritional-value h5 {
  font-size: 1.375rem;
  margin-bottom: 0;
}

.nutritional-value p {
  font-size: 1rem;
}

.nutritional-value p sub {
  font-size: 0.95em;
  bottom: -0.05em;
}
 /* <-------- Info Modal Ends--------> */

</style>
