<script type="text/x-template" id="filter-component">
  <label :class="{active : selected}" @click="filterProducts()" :for="name" >
    <span aria-hidden="true">${ name } </span>
  </label>
</script>
