<script type="text/x-template" id="filter-component">
  <label :for="name" class="facet-checkbox">
    <input @click="filterProducts()" type="checkbox" :name="name" value="1">

    <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
      <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
    </svg>

    <svg
      class="icon icon-checkmark"
      width="1.1rem"
      height="0.7rem"
      viewBox="0 0 11 7"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>

    <span aria-hidden="true">${ name } </span>
  </label>
</script>
