<script type="text/x-template" id="product-component">
  <div  v-if="show" class="product-box">
  	<div  class="img-wrap">
  		<img :src="image" alt="image">
  	</div>
  	<svg  @click="mtoggle()"  class="icon-info" width="15" height="15" viewBox="0 0 15 15" fill="none"
  		xmlns="http://www.w3.org/2000/svg">
  		<circle cx="7.5" cy="7.5" r="6.5" fill="#FFEEB0" stroke="#FBD754" stroke-width="2"></circle>
  		<path fill-rule="evenodd" clip-rule="evenodd" d="M8 4H7V5H8V4ZM8 6H7V11H8V6Z" fill="black">
  		</path>
  	</svg>
  	<div class="product-detail">
  		<h4>${ title }</h4>
  		<h3>From ${ vendor }</h3>
  		<div v-if="added" class="qty-btn">
  			<svg @click="decreaseQuantity()" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
  				<path
  					d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm88 200H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z" />
  			</svg>
  			<ul>
  				<li>

  					<p class="mb-0">Approx. ${counter * amount} pieces</p>
  				</li>
  				<li>
  					<p class="mb-0">${counter * weight}  grams</p>
 
  				</li>
  			</ul>
  			<svg @click="increaseQuantity()" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
  				<path
  					d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
  			</svg>
  		</div>
  		<button v-else="added" @click="putInBag()" class="btn-cta">PUT IN BAG</button>

  		</div>
  </div>
</script>
