@font-face {
    font-family: 'AmsiPro';
    src: url('AmsiPro-BlackItalic.eot');
    src: url('AmsiPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiPro-BlackItalic.woff2') format('woff2'),
        url('AmsiPro-BlackItalic.woff') format('woff'),
        url('AmsiPro-BlackItalic.ttf') format('truetype'),
        url('AmsiPro-BlackItalic.svg#AmsiPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('AmsiPro-Bold.eot');
    src: url('AmsiPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('AmsiPro-Bold.woff2') format('woff2'),
        url('AmsiPro-Bold.woff') format('woff'),
        url('AmsiPro-Bold.ttf') format('truetype'),
        url('AmsiPro-Bold.svg#AmsiPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-BlackItalic.eot');
    src: url('AmsiProCond-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-BlackItalic.woff2') format('woff2'),
        url('AmsiProCond-BlackItalic.woff') format('woff'),
        url('AmsiProCond-BlackItalic.ttf') format('truetype'),
        url('AmsiProCond-BlackItalic.svg#AmsiProCond-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-Black.eot');
    src: url('AmsiProCond-Black.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-Black.woff2') format('woff2'),
        url('AmsiProCond-Black.woff') format('woff'),
        url('AmsiProCond-Black.ttf') format('truetype'),
        url('AmsiProCond-Black.svg#AmsiProCond-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('AmsiPro-BoldItalic.eot');
    src: url('AmsiPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiPro-BoldItalic.woff2') format('woff2'),
        url('AmsiPro-BoldItalic.woff') format('woff'),
        url('AmsiPro-BoldItalic.ttf') format('truetype'),
        url('AmsiPro-BoldItalic.svg#AmsiPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('AmsiPro-Black.eot');
    src: url('AmsiPro-Black.eot?#iefix') format('embedded-opentype'),
        url('AmsiPro-Black.woff2') format('woff2'),
        url('AmsiPro-Black.woff') format('woff'),
        url('AmsiPro-Black.ttf') format('truetype'),
        url('AmsiPro-Black.svg#AmsiPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-BoldItalic.eot');
    src: url('AmsiProCond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-BoldItalic.woff2') format('woff2'),
        url('AmsiProCond-BoldItalic.woff') format('woff'),
        url('AmsiProCond-BoldItalic.ttf') format('truetype'),
        url('AmsiProCond-BoldItalic.svg#AmsiProCond-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-LightItalic.eot');
    src: url('AmsiProCond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-LightItalic.woff2') format('woff2'),
        url('AmsiProCond-LightItalic.woff') format('woff'),
        url('AmsiProCond-LightItalic.ttf') format('truetype'),
        url('AmsiProCond-LightItalic.svg#AmsiProCond-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-Bold.eot');
    src: url('AmsiProCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-Bold.woff2') format('woff2'),
        url('AmsiProCond-Bold.woff') format('woff'),
        url('AmsiProCond-Bold.ttf') format('truetype'),
        url('AmsiProCond-Bold.svg#AmsiProCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-Italic.eot');
    src: url('AmsiProCond-Italic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-Italic.woff2') format('woff2'),
        url('AmsiProCond-Italic.woff') format('woff'),
        url('AmsiProCond-Italic.ttf') format('truetype'),
        url('AmsiProCond-Italic.svg#AmsiProCond-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-Regular.eot');
    src: url('AmsiProCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-Regular.woff2') format('woff2'),
        url('AmsiProCond-Regular.woff') format('woff'),
        url('AmsiProCond-Regular.ttf') format('truetype'),
        url('AmsiProCond-Regular.svg#AmsiProCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-Light.eot');
    src: url('AmsiProCond-Light.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-Light.woff2') format('woff2'),
        url('AmsiProCond-Light.woff') format('woff'),
        url('AmsiProCond-Light.ttf') format('truetype'),
        url('AmsiProCond-Light.svg#AmsiProCond-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-SemiBold.eot');
    src: url('AmsiProCond-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-SemiBold.woff2') format('woff2'),
        url('AmsiProCond-SemiBold.woff') format('woff'),
        url('AmsiProCond-SemiBold.ttf') format('truetype'),
        url('AmsiProCond-SemiBold.svg#AmsiProCond-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-Thin.eot');
    src: url('AmsiProCond-Thin.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-Thin.woff2') format('woff2'),
        url('AmsiProCond-Thin.woff') format('woff'),
        url('AmsiProCond-Thin.ttf') format('truetype'),
        url('AmsiProCond-Thin.svg#AmsiProCond-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-SemiBoldItalic.eot');
    src: url('AmsiProCond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-SemiBoldItalic.woff2') format('woff2'),
        url('AmsiProCond-SemiBoldItalic.woff') format('woff'),
        url('AmsiProCond-SemiBoldItalic.ttf') format('truetype'),
        url('AmsiProCond-SemiBoldItalic.svg#AmsiProCond-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond-Ultra';
    src: url('AmsiProCond-Ultra.eot');
    src: url('AmsiProCond-Ultra.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-Ultra.woff2') format('woff2'),
        url('AmsiProCond-Ultra.woff') format('woff'),
        url('AmsiProCond-Ultra.ttf') format('truetype'),
        url('AmsiProCond-Ultra.svg#AmsiProCond-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond';
    src: url('AmsiProCond-ThinItalic.eot');
    src: url('AmsiProCond-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-ThinItalic.woff2') format('woff2'),
        url('AmsiProCond-ThinItalic.woff') format('woff'),
        url('AmsiProCond-ThinItalic.ttf') format('truetype'),
        url('AmsiProCond-ThinItalic.svg#AmsiProCond-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond-XLight';
    src: url('AmsiProCond-XLight.eot');
    src: url('AmsiProCond-XLight.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-XLight.woff2') format('woff2'),
        url('AmsiProCond-XLight.woff') format('woff'),
        url('AmsiProCond-XLight.ttf') format('truetype'),
        url('AmsiProCond-XLight.svg#AmsiProCond-XLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('AmsiPro-Italic.eot');
    src: url('AmsiPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('AmsiPro-Italic.woff2') format('woff2'),
        url('AmsiPro-Italic.woff') format('woff'),
        url('AmsiPro-Italic.ttf') format('truetype'),
        url('AmsiPro-Italic.svg#AmsiPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('AmsiPro-LightItalic.eot');
    src: url('AmsiPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiPro-LightItalic.woff2') format('woff2'),
        url('AmsiPro-LightItalic.woff') format('woff'),
        url('AmsiPro-LightItalic.ttf') format('truetype'),
        url('AmsiPro-LightItalic.svg#AmsiPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-Black.eot');
    src: url('AmsiProNarw-Black.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-Black.woff2') format('woff2'),
        url('AmsiProNarw-Black.woff') format('woff'),
        url('AmsiProNarw-Black.ttf') format('truetype'),
        url('AmsiProNarw-Black.svg#AmsiProNarw-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('AmsiPro-Light.eot');
    src: url('AmsiPro-Light.eot?#iefix') format('embedded-opentype'),
        url('AmsiPro-Light.woff2') format('woff2'),
        url('AmsiPro-Light.woff') format('woff'),
        url('AmsiPro-Light.ttf') format('truetype'),
        url('AmsiPro-Light.svg#AmsiPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond-XLightItalic';
    src: url('AmsiProCond-XLightItalic.eot');
    src: url('AmsiProCond-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-XLightItalic.woff2') format('woff2'),
        url('AmsiProCond-XLightItalic.woff') format('woff'),
        url('AmsiProCond-XLightItalic.ttf') format('truetype'),
        url('AmsiProCond-XLightItalic.svg#AmsiProCond-XLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProCond-UltraItalic';
    src: url('AmsiProCond-UltraItalic.eot');
    src: url('AmsiProCond-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProCond-UltraItalic.woff2') format('woff2'),
        url('AmsiProCond-UltraItalic.woff') format('woff'),
        url('AmsiProCond-UltraItalic.ttf') format('truetype'),
        url('AmsiProCond-UltraItalic.svg#AmsiProCond-UltraItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-BoldItalic.eot');
    src: url('AmsiProNarw-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-BoldItalic.woff2') format('woff2'),
        url('AmsiProNarw-BoldItalic.woff') format('woff'),
        url('AmsiProNarw-BoldItalic.ttf') format('truetype'),
        url('AmsiProNarw-BoldItalic.svg#AmsiProNarw-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-Italic.eot');
    src: url('AmsiProNarw-Italic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-Italic.woff2') format('woff2'),
        url('AmsiProNarw-Italic.woff') format('woff'),
        url('AmsiProNarw-Italic.ttf') format('truetype'),
        url('AmsiProNarw-Italic.svg#AmsiProNarw-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-Light.eot');
    src: url('AmsiProNarw-Light.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-Light.woff2') format('woff2'),
        url('AmsiProNarw-Light.woff') format('woff'),
        url('AmsiProNarw-Light.ttf') format('truetype'),
        url('AmsiProNarw-Light.svg#AmsiProNarw-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-LightItalic.eot');
    src: url('AmsiProNarw-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-LightItalic.woff2') format('woff2'),
        url('AmsiProNarw-LightItalic.woff') format('woff'),
        url('AmsiProNarw-LightItalic.ttf') format('truetype'),
        url('AmsiProNarw-LightItalic.svg#AmsiProNarw-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-BlackItalic.eot');
    src: url('AmsiProNarw-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-BlackItalic.woff2') format('woff2'),
        url('AmsiProNarw-BlackItalic.woff') format('woff'),
        url('AmsiProNarw-BlackItalic.ttf') format('truetype'),
        url('AmsiProNarw-BlackItalic.svg#AmsiProNarw-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-Bold.eot');
    src: url('AmsiProNarw-Bold.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-Bold.woff2') format('woff2'),
        url('AmsiProNarw-Bold.woff') format('woff'),
        url('AmsiProNarw-Bold.ttf') format('truetype'),
        url('AmsiProNarw-Bold.svg#AmsiProNarw-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

